*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url('images/pattern-background-desktop.svg');
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: contain;
    background-color: hsl(225, 100%, 94%);
    min-height: 100vh;
    position: relative; 
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0 8px 16px rgba(41, 29, 29, 0.3);
    border-radius: 15px;
    overflow: hidden;
}

img[src*="hero"]{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container{
    margin: 25px;
}

.os-header{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.os-caption{
    margin: 15px 0 15px;
    color: #717FA6;
}

.ap-container{
    background-color: #F7F9FF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px;
    display: inline-flex; 
}

img[src*=icon]{
    margin: 3px;
}

.header-price{
    display: block;
    margin: 15px 100px 15px 15px;
}


.ap-header{
    color: #1F2E55;
    font-weight: 900;
}

.ap-price{
    color:#717FA6;
}


.changebutton{
    font-weight: bold;
    font-size: 14px;
    color: #766CF1;
    border: 1px solid #F7F9FF;
    background-color: #F7F9FF;
    margin: 15px 20px 10px;
}


.paymentbutton{
    background-color: #382AE1;
    color: #FFF; 
    border: 1px solid #382AE1;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px 115px;
    margin-bottom: 125px;
    cursor: pointer;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
    text-decoration: none; 
}

.paymentbutton:hover{
    background-color: #766CF1;
    border: 1px solid #766CF1;
}

.cancelbutton{
    color: #717FA6;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #FFF;
    background-color: #FFF;
    text-decoration: none; 
}

.cancelbutton:hover{
    cursor: pointer;
    color: #1F2E55;
}